@tailwind base;
@tailwind components;
@tailwind utilities;

.loader {
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 4px solid transparent;
  border-top-color: blue;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
